.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header__container {
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header__container,
.footer__container {
    &__large {
        height: 100px;
    }
    &__medium {
        height: 60px;
    }
    &__small {
        height: 30px;
    }
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin-left: 14px;
        font-size: 26px;
    }
    a,
    span {
        margin-left: 14px;
        font-size: 26px;
        cursor: pointer;
        &:hover {
            color: lightgrey;
        }
    }
    @media screen and (max-width: 900px) {
        li,
        a,
        span {
            font-size: 16px;
        }
    }
}
.footer__container {
    li,
    a {
        font-size: 16px;
    }
    @media screen and (max-width: 900px) {
        li,
        a {
            font-size: 10px;
        }
    }
}
.mainWrapper {
    flex: 1 1 auto;
}
.home__wrapper {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 5054px;
    width: 100%;
    .logoContainer {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .signature__container {
        display: flex;
        justify-content: center;
        margin-top: 160px;
        .content {
            width: 1277px;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    h1 {
        margin-top: 80px;
        text-align: center;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .imageContainer {
        display: block;
        div {
            margin-top: 64px;
        }
        @media screen and (max-width: 900px) {
            img {
                width: 300px;
            }
        }
    }
    h3 {
        margin-top: 170px;
        text-align: left;
        padding-left: 60px;
        font-size: 72px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
    .rockimg {
        margin-top: 110px;
        @media screen and (max-width: 900px) {
            width: 330px;
        }
    }
    a {
        cursor: pointer;
        &:hover {
            color: lightgrey;
        }
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.itemBlock {
    width: 300px;
    height: 472px;
    img {
        height: 400px;
        width: 300px;
    }
    .legend {
        margin-left: 8px;
        margin-top: 8px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    cursor: pointer;
}

.searcgingPanel {
    height: 100px;
    .searching {
        margin: 64px 0 0 32px;
        position: relative;
        width: 480px;
        border-bottom: 3px solid black;
        @media screen and (max-width: 900px) {
            width: 330px;
        }
        input {
            @media screen and (max-width: 900px) {
                width: 270px;
            }
            width: 420px;
            font-size: 28px;
            padding-left: 2px;
        }
        .buttonSearch {
            position: absolute;
            bottom: 6px;
            right: 0;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

.main {
    @media screen and (min-width: 900px) {
        display: flex;
    }
    .sideBar {
        margin-left: 32px;
        width: 280px;
        @media screen and (min-width: 900px) {
            min-height: 1000px;
        }
        .label,
        .labelMobile {
            font-size: 28px;
        }
        .label {
            @media screen and (max-width: 900px) {
                display: none;
            }
            .clearAllBtn {
                cursor: pointer;
                &:hover {
                    color: grey;
                }
            }
        }
        .labelMobile {
            @media screen and (min-width: 900px) {
                display: none;
            }
        }
        ul {
            margin-top: 18px;
            font-size: 20px;
            span {
                font-size: 24px;
            }
            li {
                margin-top: 4px;
                cursor: pointer;
                width: fit-content;
                position: relative;
                user-select: none;
            }
            .active::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: black;
            }
        }
    }
    .catalogCarts {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .itemContainer {
            margin-left: 64px;
            margin-bottom: 80px;
        }
    }
}

.itemPage {
    .main {
        padding-bottom: 20px;
        .popUpImg {
            cursor: zoom-out;
            width: 100%;
            background-color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            top: -180px;
            z-index: 2;
            .maiPhoto {
                left: 50%;
                height: 1200px;
            }
            
        }
        .popUpAlbom {
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 3;
            position: fixed;
            bottom: 0; 
            img {
                cursor: pointer;
                width: 70px;
                opacity: 0.7;
                margin-right: 14px;
                margin-bottom: 14px;
            }
            .active {
                opacity: 1;
            }
        }
        .albomDeskTop {
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        .albomMobile {
            width: 100%;
            display: flex;
            overflow: scroll;
            img {
                width: 90%;
                margin-left: 24px;
            }
            @media screen and (min-width: 900px) {
                display: none;
            }
            margin-bottom: 40px;
        }
        margin-top: 40px;
        position: relative;
        .arrowLeft,
        .arrowRight {
            cursor: pointer;
            position: absolute;
            top: 260px;
        }
        .arrowLeft {
            left: 85px;
        }
        .arrowRight {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            right: 410px;
            z-index: 1;
        }
        .mainPhoto,
        .secondPhoto {
            width: 450px;
            height: 600px;
        }
        .mainPhoto {
            margin-left: 134px;
        }
        .secondPhoto {
            width: 330px;
            height: 440px;
            opacity: 0.6;
            position: absolute;
            right: 0;
            top: 100px;
        }
    }
    .details {
        margin-left: 20px;
        margin-bottom: 44px;
        width: 354px;
        min-height: 664px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        .header {
            .price {
                font-weight: 700;
                line-height: normal;
                margin-top: 14px;
            }
            .title {
                margin-top: 14px;
                font-size: 14px;
            }
        }
        .description {
            margin-top: 20px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .features {
            margin-top: 14px;
            font-size: 14px;
        }
        .sizesContainer {
            margin-top: 30px;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
.sizeBlock {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
        border: 1px solid black;
    }
    &__active,
    &:active {
        background-color: black;
        color: white;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
        background-color: #000000;
        color: white;
    }
    &__disable {
        opacity: 0.3;
        cursor: default;
    }
    &__small {
        padding: 10px;
    }
    &__medium {
        width: 230px;
        height: 34px;
    }
    &__large {
        padding: 20px 60px;
    }
    border: 1px solid black;
    background-color: white;
    &__primary {
        background-color: black;
        color: white;
        border: none;
    }
}

.buttonContainer {
    margin-top: 24px;
    width: 352px;
}

.cart__wrapper {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    &__shown {
        opacity: 1;
        pointer-events: auto;
    }
}
.cartempty {
    text-align: center;
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 100%;
    }
    &__caption {
        font-size: 20px;
        margin-top: 300px;
    }
}
.cart {
    text-align: center;
    z-index: 4;
    position: fixed;
    right: -330px;
    @media screen and (max-width: 900px) {
        width: 230px;
    }
    top: 0;
    background-color: white;
    width: 330px;
    height: 100%;
    transition: right 0.3s ease-in-out;
    &__shown {
        right: 0;
    }
    h1 {
        margin-top: 80px;
        font-size: 20px;
        font-weight: bold;
    }
    .cartList {
        max-height: 70vh;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: 0;
        &__button {
            .totatlSum {
                position: relative;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 30px;
            }
            display: flex;
            justify-content: center;
            margin-top: 34px;
        }
    }
    .cartList::-webkit-scrollbar {
        width: 14px;
        height: 0;
    }
    .cartItemContainer {
        margin-left: 16px;
        margin-top: 20px;
        position: relative;
        width: 80%;
        height: 120px;
        .photo {
            width: 75px;
        }
        .inform {
            text-align: left;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .cross {
            cursor: pointer;
        }
    }
}

.accountContainer {
    width: 100%;
    min-height: 90vh;
    .formWrapper {
        padding-bottom: 20px;
        @media screen and (min-width: 900px) {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .accountWrapper {
        display: flex;
        justify-content: center;
        .name {
            font-size: 24px;
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}
.loginForm {
    margin-top: 100px;
    text-align: center;
    .buttonContainerLogin {
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 26px;
        font-weight: bold;
    }
    @media screen and (max-width: 900px) {
        margin-left: 40px;
    }
}
.registrationForm {
    text-align: center;
    margin-top: 100px;
    h1 {
        font-size: 26px;
        font-weight: bold;
    }
    .buttonContainerRegistration {
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
    .radioContainer {
        margin-top: 24px;
        input {
            display: block;
            width: 50px;
            accent-color: black;
        }
        input[type='radio'] {
            border: 0px;
            width: 100%;
            height: 20px;
        }
        label {
            display: inline-block;
            width: 50px;
            text-align: center;
        }
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    @media screen and (max-width: 900px) {
        margin-left: 40px;
    }
}
.input {
    text-align: left;
    margin-top: 14px;
    input {
        display: block;
        width: 250px;
        height: 30px;
        font-size: 18px;
        border-bottom: 1px solid black;
    }
    label {
        font-size: 16px;
        color: rgb(100, 100, 100);
    }
    &__error {
        input {
            border-bottom: 1px solid red;
        }
    }
}

.errorAlert {
    margin-top: 6px;
    text-align: left;
    color: red;
}

.arrowBack {
    @media screen and (max-width: 900px) {
        display: none;
    }
    position: absolute;
    left: 35px;
    cursor: pointer;
}

.bag {
    position: relative;
    @media screen and (min-width: 900px) {
        display: flex;
        justify-content: center;
    align-items: center;
    }
    .table {
        margin-top: 40px;
        padding: 14px;
        @media screen and (min-width: 900px) {
            width: 920px;
            padding: 0;
        }
        &__header,
        &__footer {
            margin-bottom: 14px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            .li1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .li2 {
                grid-area: 1 / 2 / 2 / 3;
            }
            .li3 {
                grid-area: 1 / 3 / 2 / 4;
            }
            .li4 {
                grid-area: 1 / 4 / 2 / 5;
            }
            li {
                text-align: center;
                font-family: Arial;
                @media screen and (min-width: 900px) {
                    font-size: 18px;
                }
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        &__footer {
            .li1 {
                img {
                    width: 100px;
                }
            }
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial;
                font-size: 16x;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    .sidePanel {
        padding-bottom: 14px;
        @media screen and (min-width: 900px) {
           position: absolute;
           padding-bottom: 0;
        }
        top: 100px;
        .buttonContainer {
            width: 200px;
            @media screen and (max-width: 900px) {
                width: 100%;
             }
            display: flex;
            justify-content: center;
        }
        .total {
            margin-bottom: 14px;
            display: flex;

            justify-content: center;
            h2 {
                font-weight: 700;
                margin-right: 14px;
            }
            font-size: 24px;
            font-style: normal;
            line-height: normal;
        }
    }
}

.addressContainer, .paymentContainer {
    padding: 20px 200px;
    @media screen and (max-width: 900px) {
        padding: 20px 20px;
     }
   
    @media screen and (min-width: 900px) {
        display: flex;
     }
    justify-content: space-between;
    align-items: center;
    .formContainer {
        .addressForm {
            form {
                margin-bottom: 20px;
            }
            .buttonContainerAddress {
                margin-top: 20px;
            }
            h1,
            h2 {
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h2 {
                font-size: 20px;
            }
            select {
                margin-top: 14px;
                display: block;
                width: 250px;
                height: 30px;
                font-size: 18px;
                border-bottom: 1px solid black;
            }
            label {
                font-size: 16px;
                color: rgb(100, 100, 100);
            }
        }
    }
}
.informContainer {
    h2 {
        font-weight: 700;
        margin-bottom: 14px;
    }
    p {
        margin-bottom: 14px;
    }
    display: block;
    .price {
        padding: 0 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
        height: 50px;
        background-color: rgb(235, 235, 235);
        .summary {
            font-weight: 700;
        }
    }
    .order {
        margin-top: 20px;
        padding: 14px 14px 1px 14px;
        height: auto;
        max-width: 400px;
        height: auto;
        background-color: rgb(235, 235, 235);
    }
    .payment {
        margin-top: 20px;
        padding: 14px;
        height: auto;
        max-width: 400px;
        height: auto;
        background-color: rgb(235, 235, 235);
        img {
            margin-right: 14px;
        }
        p {
            margin-top: 14px;
            margin-bottom: 0;
        }
    }
}
.paymentContainer {
    h2 {
        font-weight: 700;
        margin-bottom: 14px;
    }
    img {
        margin-right: 14px;
    }
    .payBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        div {
            display: flex;
            align-items: center;
        }
        p {
            margin-right: 14px;
        }
    }
}
.successContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 14px;
    h1 {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 14px;
    }
    h2 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 14px;
    }
    @media screen and (max-width: 900px) {
        img {
            width: 90%;
        }
     }
}


.paginationContainer {
    position: absolute;
    @media screen and (max-width: 900px) {
       left: 20px;
       top: 220px;
     }
    top: 190px;
    right: 40px;
    display: flex;
    .paginationCell {
        cursor: pointer;
        margin-left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    .selected {
        text-decoration: underline;
    }
}